body {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
  color: blue;
}

h2 {
  /* BEGIN (write your solution here) */
  margin-top: 0px;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;
  /* END */

  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

section > h2 {
  margin: 0px;
  text-align: left;
   border-bottom: none;
}

li {
  margin-bottom: 10px;
}
